body {
  margin: 0;
  font-family: sistem-ui ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(112, 64, 64);
}

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  h1{
    color : red ;
  }
}

.wrapper {

  background: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom:  1px solid black;
  
  h1{
    margin-bottom: 40px;
  }
}


.headerLeft{
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }

  h3,
  p{
    margin: 0;
  }
}

.content {

  margin: 40;
  justify-content:  space-between;
 
}

.card {
  border: 1px solid rgb(184, 30, 30);
  padding: 20px ;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.15s ease-in-out, transform  0.15s ease-in-out ;
  

  &:hover{
    box-shadow: 0px 24px 30px black;
    transform: translateY(-5px)
  }

  .favorite{
    position: absolute;
    cursor: pointer;
  }


  span{
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  h5{
    font-weight: 400;
    font-size: 14px;
  }
}


.button {

  background-color: blueviolet;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;

}

.search-block{
  border: 1px solid rgb(139, 122, 122) ;
  display: flex;
  align-content: center;
  border-radius: 10px;
  padding: 15px ;

  input{
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
}


.bikes{
  display: flex;
}


.overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;

}

.closeButton {
  position: absolute;  /* делает кнопку независимой внутри drawer */
  top: 10px;           /* отступ сверху */
  right: 10px;         /* отступ справа */
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #ee0404;      /* цвет крестика */
  transition: color 0.2s; /* плавное изменение цвета */
}

.closeButton:hover {
  color: red;          /* цвет при наведении */
}


.drawer {

  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: wheat;
  box-shadow: -10px 4px 24px black;
  padding:30px ;

  

  .cartItem{
    overflow: auto;
    margin-bottom: 40px;
  }

  img{
  margin: 20px;
 }

  h2{
    margin: 0;
    
  }

.cartTotalBlock{

  ul{
display: block;
margin-bottom: 40px; 

  }
  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  div{
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed green ;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  button{
    width: 100%;
    height: 55px;
    border-radius: 18px;
    background-color: chocolate;
    border: 0;
    color: rgb(242, 243, 245);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out 0.2;


    & :active{
    background-color:  darken( #080000, 5%) 
    }
  }
}

.cartItem{
  border: 1px solid grey;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 5px;
  padding:  20px;
  margin-bottom: 20px;

  h2{
    margin-bottom: 30px;
  }



p2{
  margin: 2px;
  font-size: 14px;
 }
b{
  font-size: 17px;
}
.removeButton{
  opacity: 0.5;
  transition: 0.14s ease-in-out;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }

}
}
}